<div class="row container-fluid" style="min-height: 75vh">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4">
      <div *ngIf="registerError" class="error-message">{{ registerError }}</div>
      <p class="h4 text-bold login-heading mb-4 mt-5">Sign Up</p>
  
      <!-- Sign In For m -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Name"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
          </mat-form-field>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
        </mat-form-field>
  
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
  
        <div class="d-grid">
          <button
            mat-raised-button
            color="primary"
            [disabled]="registerForm.invalid"
            type="submit"
          >
            Sign up
          </button>
          <button mat-raised-button class="mt-3" type="button" (click)="signin()" > Login</button>
        </div>
      </form>
    </div>
  </div>
  
