<div class="row container-fluid" style="min-height: 75vh">
    <div class="col-md-3 col-lg-4"></div>
    <div class="col-md-6 col-lg-4">
      <div *ngIf="editError" class="error-message">{{ editError }}</div>
      <p class="h4 text-bold login-heading mb-4 mt-5">Edit Task </p>
  
      <!-- Sign In For m -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Task Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="taskname"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Created At</mat-label>
          <input
            matInput
            type="text"
            formControlName="createdat"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100" aria-disabled="true">
            <mat-label>Updated At</mat-label>
            <input
              matInput
              type="text"
              formControlName="modifiedat"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Progress</mat-label>
            <mat-select formControlName="progress">
              <mat-option *ngFor="let progress of progressOptions" [value]="progress">
                {{ progress }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          
        <div class="">
          <button
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            type="submit"
          >
            Save
          </button>
          <button mat-raised-button class="mx-3" type="button" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  
